
        nav {
            display: flex;
            justify-items: center;
            align-items: center;
        }

        header {
            width: 100vw;
            height: 17vh;
            BACKGROUND-COLOR: cadetblue;
            position: fixed;
            position-area: top;
        }

        #logo img {
            width: 6vw;
            height: 10vh;
            padding: 12px 19px;
            margin: 8px 10px;
        }

        .navigation ul {
            display: flex;
            justify-content: center;
        }

        .navigation .item {
            display: flex;
            padding: 10px;
            margin: 20px;
        }

        a {
            color: burlywood;
            width: 100px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            transition: background-color;
            transition-duration: 3s;
            text-decoration: solid;
        }

        .item a:hover {
            color: white
        }

        .main-container {
            background-image: url(/Projectfood/bg.jpg);
            opacity: 0.8;
        }

        .main-container {
            display: flex;
            width: space-evenly;
            width: 1200px;
            height: 20vh;
            background-position: center;
            padding: 167px;
            flex-direction: column;
        }